h2{
    width: 30%;
    border-radius: 5px;
    text-align: center;
    height: 9%;
    
}
 body{
     font-family:'Original Surfer', cursive;;
 }



 canvas{
     animation-name: animate;
     animation-duration: 4s;
     animation-iteration-count: infinite;
     margin-top: 60px;
 }

 @keyframes animate{
     from{box-shadow: 1px 1px 38px red;}
     to{box-shadow: 1px 1px 38px yellow;}
 }